<!-- Hero -->
<div class="hero">
<br />

  <div class="frosty col-xs-4 col-xs-offset-4 text-center">
    <br />
    <h1>READY, AIM, ACHIEVE</h1>
    <br />
    <h2>!GOAL</h2>
    <br />
    <%= link_to 'Begin Your Journey', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<!-- Features and Fun -->
<br />
<div class="row features text-center">
  <div class="col-sm-2 well col-sm-offset-1">
    <h3>GOAL SETTING</h3>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2 well col-sm-offset-1">
    <h3>ZONES</h3>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2 well col-sm-offset-1">
    <h3>CHALLENGES</h3>
  </div>
</div>
