<!-- Hero -->
<div class="hero">
<br />

  <div class="frosty col-xs-4 col-xs-offset-4 text-center">
    <br />
    <h1>Build goals in all 10 areas of life. Track progress.</h1>
    <br />
    <h2>Based on "My Best Year Ever"</h2>
    <br />
    <%= link_to 'Begin Your Journey', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<!-- Features and Fun -->
<br />
